


.container{
    background-color: lightgrey;
}

h1{
    background-color: white;
    color: #5c015c;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: solid 10px #01f0f8;
}

.menu{
    background-color: #5c015c;
    color: #01f0f8;
    padding-top: 1%;
    padding-bottom: 1%;
}

#questionDiv{
    background-color: #ffffff;
    padding: 1%;
    margin: 1%;
    border-bottom: solid 5px #01f0f8;
    border-top: solid 10px #01f0f8;
}

#question{
    color: #5c015c;
    margin: 3%;
}

.answerDiv{
    margin: 3%;
    color: #5c015c;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,1); /* Black background with opacity */
    z-index: 4; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }